body {
  background: #000;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.box {
    display:flex;
    flex-wrap: wrap;
}

.box-item {    
  width: 30px;
  height: 30px;
  background: rgb(63, 64, 62);
  border-radius: 50%;
  transition: 0.5s;
}
